@import url(http://fonts.googleapis.com/css?family=Open+Sans);

img {
  max-width: 100%;
}


h1 {
  font-size:1.4em;
}

h2 {
  font-size:1.1em;
}
h1, h2, h3 {
  color: #16a085;
}

.center {
  text-align: center;
  margin: 10px auto;
}

.left {
  float:left;
}

.bar {
background-color: #967ADC;
}

.bar-tab .tab-item {
    color:white;
  }

  .bar-tab .tab-item.active, .bar-tab .tab-item:active {
color: #1abc9c;
}

.title {
	color:white;
}

.full-image {
width: 100%;
}

.slider {
overflow: hidden;
background-color: transparent;
}

.icon-left-nav {
  color: #00A79F;
}

.home-tabs {
  overflow:hidden;
  border: 1px solid #cacaca;
  background: white;
  box-shadow: 3px 2px 5px 2px #ccc;
}
.home-icons {
    width:50%;
    margin:0 0 20px 0;
    padding: 20px;
}

 

 
.fa {
  font-size:75px;
  width: 100%;
  color:#462D8F;
}

 .home-icons .tab-item span {
  color:#00A79F;
 }

.table-view .icon {
background-color: #fff;
color:#00A79F;
border: 1px solid #2ABB9B;
border-radius: 25px;  
width: 50px;
height: 50px;
margin: 3px;
font-size: 24px;
line-height: 50px;
text-align: center;
}

.table-view .icon:hover {
  color:white;
  background:#EC008C;
}

.price-right h1 {
  font-style: italic;
  text-align: center;
  font-size:34px;
  color:#4D2377;
}

.price-right .price-details-box {
  background: #00AAA4;
  color:white !important;
  padding:10px;
  margin:10px 0;
}
/**
 * index animations
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

 



.materials .media-body {
  margin:15px auto;
}


.card {
  background:transparent!important;
  border:0;
}


.segmented-control {
  border:0 !important;
}

.segmented-control .control-item {
display: table-cell;
float:left;
width: 32%; 
padding-top: 6px;
padding-bottom: 7px;
overflow: hidden;
line-height: 1;
color: #333;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
margin-bottom:10px;
border: 1px solid #ccc !important;
}



 /***9 Steps Page **/

.module-location {
  background-color: black;
  background-image: url("http://images.totalbasementfinishing.com/315/finished-basement-livingroom-01.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
  height: 170px;
  position: relative;
}
.module-location::before {
  /*background-color: rgba(0, 0, 0, 0.4);*/
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.module-location .location-quickstats {
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  list-style: none;
  margin: 0;
  padding: 10px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
.module-location .location-quickstats li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding-left: 25px;
  position: relative;
}
.module-location .location-quickstats li:last-child {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
 
.module-location .location-quickstats li i {
  background-size: cover;
  color: transparent;
  display: block;
  font-size: 0;
  height: 20px;
  left: 0;
  margin-right: 5px;
  overflow: hidden;
  position: absolute;
  width: 20px;
}
.module-location .location-quickstats li span {
  display: inline-block;
  font-size: 0.8125em;
}
.module-location .location-title {
  bottom: 0;
  left: 0;
  padding: 0 50px 25px 50px;
  position: absolute;
  right: 0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.module-location .location-title.rating-positive::after {
  background-image: -moz-linear-gradient(#5be225, rgba(91, 226, 37, 0));
  background-image: -webkit-linear-gradient(#5be225, rgba(91, 226, 37, 0));
  background-image: linear-gradient(#5be225, rgba(91, 226, 37, 0));
}
 
.module-location .location-title::before {
  border-radius: 50%;
  bottom: 45px;
  content: '';
  display: block;
  left: 20px;
  height: 11px;
  position: absolute;
  width: 11px;
}
.module-location .location-title::after {
  bottom: -28px;
  content: '';
  display: block;
  height: 73px;
  left: 25px;
  position: absolute;
  width: 1px;
}
.module-location .location-title h2 {
  font-size: 1.125em;
  font-weight: 400;
  margin: 0;
  color:white;
  font-family: 'Open Sans', sans-serif;
}
.module-location .location-title time {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 0.8125em;
}

.module-history {
  list-style: none;
  margin: 0;
  padding: 15px 0;
}
.module-history li {
  margin-bottom: 1px;
  padding: 9px 30px 7px 50px;
  position: relative;
}

.module-location .location-title.rating-positive::before {
  background-color: #462D8F;
}

.module-history li.rating-positive i {
  background-color: #462D8F;
}
.module-history li.rating-positive i::before {
 background: #462D8F;
}
.module-history li.rating-positive i::after {
background: #462D8F;
}
 

.module-history h3,
.module-history time {
  overflow: hidden;
}
.module-history h3 {
  color: #404040;
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 700;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
 
.module-history i {
  background-color: #a6a6a6;
  border-radius: 50%;
  color: transparent;
  display: block;
  font-size: 0;
  height: 11px;
  left: 20px;
  position: absolute;
  top: 15px;
  width: 11px;
  z-index: 2;
}
.module-history i::before, .module-history i::after {
  content: '';
  display: block;
  height: 140px;
  left: 5px;
  position: absolute;
  width: 1px;
  z-index: -1;
}
.module-history i::before {
  top: 60px;
}
.module-history i::after {
  bottom: -40px;
}



.scripts h2 {
  font-style: italic;
  color:#462D8F;
}



.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
 
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td {
    border-top: 0
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td {
    padding: 5px
}

.table-bordered {
    border: 1px solid #ddd
}

.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd
}

.table-bordered>thead>tr>th,.table-bordered>thead>tr>td {
    border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
    background-color: #f5f5f5
}

table col[class*=col-] {
    position: static;
    display: table-column;
    float: none
}

table td[class*=col-],table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none
}

.table>thead>tr>td.active,.table>tbody>tr>td.active,.table>tfoot>tr>td.active,.table>thead>tr>th.active,.table>tbody>tr>th.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>tbody>tr.active>td,.table>tfoot>tr.active>td,.table>thead>tr.active>th,.table>tbody>tr.active>th,.table>tfoot>tr.active>th {
    background-color: #f5f5f5
}

.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover,.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr.active:hover>th {
    background-color: #e8e8e8
}

.table>thead>tr>td.success,.table>tbody>tr>td.success,.table>tfoot>tr>td.success,.table>thead>tr>th.success,.table>tbody>tr>th.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>tbody>tr.success>td,.table>tfoot>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr.success>th,.table>tfoot>tr.success>th {
    background-color: #dff0d8
}

.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr.success:hover>th {
    background-color: #d0e9c6
}

.table>thead>tr>td.info,.table>tbody>tr>td.info,.table>tfoot>tr>td.info,.table>thead>tr>th.info,.table>tbody>tr>th.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>tbody>tr.info>td,.table>tfoot>tr.info>td,.table>thead>tr.info>th,.table>tbody>tr.info>th,.table>tfoot>tr.info>th {
    background-color: #d9edf7
}

.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover,.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr.info:hover>th {
    background-color: #c4e3f3
}

.table>thead>tr>td.warning,.table>tbody>tr>td.warning,.table>tfoot>tr>td.warning,.table>thead>tr>th.warning,.table>tbody>tr>th.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>tbody>tr.warning>td,.table>tfoot>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr.warning>th,.table>tfoot>tr.warning>th {
    background-color: #fcf8e3
}

.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr.warning:hover>th {
    background-color: #faf2cc
}

.table>thead>tr>td.danger,.table>tbody>tr>td.danger,.table>tfoot>tr>td.danger,.table>thead>tr>th.danger,.table>tbody>tr>th.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>tbody>tr.danger>td,.table>tfoot>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr.danger>th,.table>tfoot>tr.danger>th {
    background-color: #f2dede
}

.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr.danger:hover>th {
    background-color: #ebcccc
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width:100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        font-size:12px;
    }
    
    .table-responsive>.table {
        margin-bottom: 0
    }
    
    .table-responsive>.table>thead>tr>th,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>td {
        white-space: nowrap
    }
    
    .table-responsive>.table-bordered {
        border: 0
    }
    
    .table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child {
        border-left: 0
    }
    
    .table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child {
        border-right: 0
    }
    
    .table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>th,.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>td {
        border-bottom: 0
    }
}